<template>
    <div id="app">
        <nav class="navbar is-fixed-top is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">Fimuki</a>
                    <div class="navbar-burger" :class="{ 'is-active': isMenuOpen }" @click="toggleMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="navbar-end navbar-menu" :class="{ 'is-active': isMenuOpen }">
                    <router-link exact to="/" class="navbar-item" active-class="is-active">
                        <b-icon icon="home" size="is-small"></b-icon>
                        <span>Start</span>
                    </router-link>
                    <router-link to="/cards" class="navbar-item" active-class="is-active">
                        <b-icon icon="rocket" size="is-small"></b-icon>
                        <span>Figuren</span>
                    </router-link>
                    <router-link to="/songs" class="navbar-item" active-class="is-active">
                        <b-icon icon="music" size="is-small"></b-icon>
                        <span>Musik</span>
                    </router-link>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "app",
    data() {
        return {
            isMenuOpen: false,
        };
    },
    methods: {
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },
    },
    created() {
        this.$router.afterEach(() => (this.isMenuOpen = false));
    },
};
</script>

<style lang="scss">
#app {
    .navbar-item {
        .icon {
            margin-right: 0.5em;
        }
    }
}
</style>
