<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Zu Figur hinzufügen…<br>
                <small class="has-text-weight-bold">{{ songs.length }} Titel</small>
            </p>
            <button class="delete" type="button" aria-label="Schließen" @click="$parent.close()"></button>
        </header>
        <section class="modal-card-body">
            <card-list :cards="cards" :isLoading="isLoading" :selected.sync="selected"></card-list>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" :class="{ 'is-loading': isSaving }" :disabled="!selected" @click="save">Hinzufügen</button>
            <button class="button" type="button" @click="$parent.close()">Abbrechen</button>
        </footer>
    </div>
</template>

<script>
import axios from "axios";
import CardList from "@/components/CardList";

export default {
    components: {
        "card-list": CardList,
    },
    props: ["songs"],
    data() {
        return {
            isLoading: false,
            isSaving: false,
            cards: [],
            selected: null,
        };
    },
    methods: {
        async load() {
            this.isLoading = true;

            const res = await axios.get("/api/cards");

            this.cards = res.data.map(card => {
                return { playlist: [], ...card };
            });
            this.isLoading = false;
        },
        async save() {
            try {
                this.isSaving = true;

                const res = await axios.post(`/api/cards/${this.selected}/playlist`, this.songs);
                const count = res.data.length;

                this.$toast.open({
                    type: "is-success",
                    message: "Die Titel wurden zur Figur hinzugefügt",
                });

                this.$parent.close();
            } catch (err) {
                this.isSaving = false;

                this.$toast.open({
                    type: "is-danger",
                    message: "Fehler beim Hinzufügen der Titel zu einer Figur",
                });
            }
        },
    },
    mounted() {
        this.load();
    },
};
</script>
