<template>
    <page header-type="is-success">
        <b-field slot="header" class="name-editor" >
            <b-input placeholder="(Unbenannt)" icon="pencil" size="is-large" expanded v-if="card" v-model="card.name" :loading="isSavingName"></b-input>
            <button class="button is-large is-success" @click="deleteCard"><b-icon icon="delete"></b-icon></button>
        </b-field>

        <nav v-if="card && !isLoading" class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        <strong>{{ card.playlist.length }}</strong> Titel in der Wiedergabeliste
                    </p>
                </div>
                <div v-if="hasSelection" class="level-item">
                    <p>
                        <strong>{{ selected.length }}</strong> Ausgewählt
                    </p>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <template v-if="hasSelection">
                            <button class="button is-danger" title="Löschen" @click="removeSongs">
                                <b-icon icon="minus"></b-icon>
                                <span>Entfernen</span>
                            </button>
                        </template>
                        <template v-else>
                            <button class="button is-success" @click="showUpload">
                                <b-icon icon="upload"></b-icon>
                                <span>Musik hochladen</span>
                            </button>
                            <button class="button is-primary" @click="showSelectSongs">
                                <b-icon icon="plus"></b-icon>
                                <span>Titel hinzufügen</span>
                            </button>
                        </template>
                    </div>
                </div>
            </div>
        </nav>

        <song-list v-if="card" ref="list" :isLoading="isLoading" :songs="card.playlist" :selected.sync="selected"></song-list>
    </page>
</template>

<script>
import axios from "axios";
import { debounce } from "@/utils";
import Page from "@/components/Page";
import SongList from "@/components/SongList";
import UploadModal from "@/components/UploadModal";
import SelectSongsModal from "@/components/SelectSongsModal";

export default {
    components: {
        page: Page,
        "song-list": SongList,
    },
    props: ["cardId"],
    data() {
        return {
            isLoading: false,
            isSavingName: false,
            card: null,
            selected: [],
        };
    },
    computed: {
        hasSelection() {
            return this.selected.length > 0;
        },
    },
    watch: {
        "card.name"(name, oldName) {
            if (oldName === undefined || name == oldName) {
                return;
            }

            this.saveName();
        },
    },
    methods: {
        async load() {
            this.isLoading = true;

            const res = await axios.get(`/api/cards/${this.cardId}`);

            this.card = res.data;
            this.selected = [];
            this.isLoading = false;
        },
        saveName: debounce(async function() {
            if (!this.card.name) {
                return;
            }

            try {
                this.isSavingName = true;

                const data = new FormData();
                data.append("name", this.card.name);

                await axios.put(`/api/cards/${this.cardId}`, data);
            } catch (err) {
                this.$toast.open({
                    type: "is-danger",
                    message: "Fehler beim Speichern des Figurnamens",
                });
            } finally {
                this.isSavingName = false;
            }
        }, 500),
        deleteCard() {
            this.$dialog.confirm({
                message: `Willst du wirklich die Figur "${this.card.name}" löschen?`,
                onConfirm: async () => {
                    try {
                        await axios.delete(`/api/cards/${this.cardId}`);

                        this.$router.push({ name: "cards" });

                        this.$toast.open({
                            type: "is-success",
                            message: "Die Figur wurde erfolgreich gelöscht",
                        });
                    } catch (err) {
                        this.$toast.open({
                            type: "is-danger",
                            message: "Fehler beim Löschen der Figur",
                        });
                    }
                },
            });
        },
        async addSongs(songs) {
            try {
                await axios.post(`/api/cards/${this.cardId}/playlist`, songs);

                this.load();

                this.$toast.open({
                    type: "is-success",
                    message: "Die Titel wurde erfolgreich hinzugefügt",
                });
            } catch (err) {
                this.$toast.open({
                    type: "is-danger",
                    message: "Fehler beim Hinzufügen der Titel",
                });
            }
        },
        showUpload() {
            this.$modal.open({
                parent: this,
                component: UploadModal,
                events: {
                    uploaded: this.addSongs,
                },
                hasModalCard: true,
            });
        },
        showSelectSongs() {
            this.$modal.open({
                parent: this,
                component: SelectSongsModal,
                props: {
                    excluded: this.card.playlist.map(song => song.id),
                },
                events: {
                    selected: this.addSongs,
                },
                hasModalCard: true,
            });
        },
        removeSongs() {
            this.$dialog.confirm({
                message: `Willst du wirklich die ausgewählten Titel aus der Wiedergabeliste entfernen?`,
                onConfirm: async () => {
                    try {
                        await axios.delete(`/api/cards/${this.cardId}/playlist`, {
                            data: this.selected,
                        });

                        this.load();

                        this.$toast.open({
                            type: "is-success",
                            message: "Die Titel wurde erfolgreich entfernt",
                        });
                    } catch (err) {
                        this.$toast.open({
                            type: "is-danger",
                            message: "Fehler beim Entfernen der Titel",
                        });
                    }
                },
            });
        },
    },
    created() {
        this.load();
    },
};
</script>

<style lang="scss">
.name-editor {
    margin: -9px 0 -9px -55px;

    input {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        color: #fff;
        font-weight: 600;

        &:focus {
            background-color: #fff;
            color: #363636;
        }
    }
}
</style>
