<template>
    <page header-type="is-success">
        <h1 slot="header" class="title">Figuren</h1>

        <nav v-if="!isLoading" class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        <strong>{{ cards.length }}</strong> Figuren
                    </p>
                </div>
            </div>
        </nav>

        <card-list :cards="cards" :isLoading="isLoading" @update:selected="onSelect"></card-list>
    </page>
</template>

<script>
import axios from "axios";
import Page from "@/components/Page";
import CardList from "@/components/CardList";

export default {
    components: {
        page: Page,
        "card-list": CardList,
    },
    data() {
        return {
            isLoading: false,
            cards: [],
        };
    },
    methods: {
        async load() {
            this.isLoading = true;

            const res = await axios.get("/api/cards");

            this.cards = res.data.map(card => {
                return { playlist: [], ...card };
            });
            this.isLoading = false;
        },
        onSelect(cardId) {
            this.$router.push({ name: "card", params: { cardId } });
        },
    },
    mounted() {
        this.load();
    },
};
</script>

<style lang="scss">
.cards {
    .card {
        display: block;
        margin-bottom: 1em;
    }

    .card-content {
        padding: 1em 1.5em;
    }
}
</style>
