<template>
    <b-table :loading="isLoading" :data="cards" :selected="selectedRow" @update:selected="select" hoverable>
        <template slot-scope="{ row }">
            <b-table-column label="Name" :class="{ 'has-text-grey': !row.name }">
                {{ row.name || "(Unbenannt)" }}
            </b-table-column>
            <b-table-column label="Wiedergabeliste" width="100" numeric>
                <span class="tag" :class="row.playlist.length ? 'is-success' : 'is-info'">
                    {{ row.playlist.length }} Titel
                </span>
            </b-table-column>
        </template>
    </b-table>
</template>

<script>
import axios from "axios";

export default {
    props: ["isLoading", "cards", "selected"],
    computed: {
        selectedRow() {
            return this.cards.find(card => card.uid === this.selected);
        },
    },
    methods: {
        select(card) {
            this.$emit("update:selected", card.uid);
        },
    },
};
</script>

<style lang="scss" scoped>
.b-table /deep/ tbody tr:not(.is-selected):hover {
    cursor: pointer;
}
</style>
