<template>
    <div>
        <section class="hero" :class="headerType">
            <div class="hero-body">
                <div class="container">
                    <slot name="header"></slot>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <slot></slot>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    props: {
        headerType: {
            type: String,
            default: "is-light",
        },
    },
};
</script>
