<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Titel auswählen…</p>
            <button class="delete" type="button" aria-label="Schließen" @click="$parent.close()"></button>
        </header>
        <section class="modal-card-body">
            <song-list :isLoading="isLoading" :songs="songs" :selected.sync="selected"></song-list>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" :disabled="!hasSelection" @click="select">Auswählen</button>
            <button class="button" type="button" @click="$parent.close()">Abbrechen</button>
        </footer>
    </div>
</template>

<script>
import axios from "axios";
import SongList from "@/components/SongList";

export default {
    components: {
        "song-list": SongList,
    },
    props: ["excluded"],
    data() {
        return {
            isLoading: false,
            songs: [],
            selected: [],
        };
    },
    computed: {
        hasSelection() {
            return this.selected.length > 0;
        },
    },
    methods: {
        async load() {
            this.isLoading = true;

            const res = await axios.get("/api/songs");

            const excluded = this.excluded || [];
            this.songs = res.data.filter(song => !excluded.includes(song.id));
            this.selected = [];
            this.isLoading = false;
        },
        select() {
            this.$emit("selected", this.selected);
            this.$parent.close();
        },
    },
    created() {
        this.load();
    },
};
</script>
