<template>
    <b-table :loading="isLoading" :data="songs" default-sort="title" :checked-rows="selectedRows" @update:checkedRows="onUpdateSelected" checkable>
        <template slot-scope="{ row }">
            <b-table-column field="title" label="Titel" sortable>
                <div><small>{{ row.artist }}</small></div>
                <div><strong>{{ row.title }}</strong></div>
            </b-table-column>

            <b-table-column field="duration" label="Dauer" sortable>
                {{ row.duration | duration }}
            </b-table-column>

            <b-table-column>
                <a v-if="row.isPlaying" class="has-text-danger" @click.prevent="stopPlayback">
                    <b-icon icon="stop-circle"></b-icon>
                </a>
                <a v-else @click="play(row)">
                    <b-icon icon="play-circle"></b-icon>
                </a>
            </b-table-column>
        </template>
    </b-table>
</template>

<script>
import axios from "axios";

export default {
    props: ["isLoading", "songs", "selected"],
    computed: {
        selectedRows() {
            return this.selected.map(songId => this.songs.find(song => song.id === songId));
        },
    },
    methods: {
        onUpdateSelected(selectedRows) {
            const selectedIds = selectedRows.map(song => song.id);
            this.$emit("update:selected", selectedIds);
        },
        play(song) {
            this.stopPlayback();

            this.$set(song, "isPlaying", true);

            if (!this.audio) {
                this.audio = new Audio();
                this.audio.addEventListener("ended", () => this.stopPlayback());
            }

            this.audio.src = `/api/songs/${song.id}/file`;
            this.audio.play();
        },
        stopPlayback() {
            if (this.audio && !this.audio.paused) {
                this.audio.pause();
            }

            this.songs.forEach(song => {
                if (song.isPlaying) {
                    song.isPlaying = false;
                }
            });
        },
    },
    beforeDestroy() {
        this.stopPlayback();
    },
};
</script>
