<template>
    <page header-type="is-primary">
        <h1 slot="header" class="title">Musik</h1>

        <nav v-if="!isLoading" class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        <strong>{{ songs.length }}</strong> Titel
                    </p>
                </div>
                <div v-if="hasSelection" class="level-item">
                    <p>
                        <strong>{{ selected.length }}</strong> Ausgewählt
                    </p>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <template v-if="hasSelection">
                            <button class="button is-primary" @click="addToCard">
                                <b-icon icon="plus"></b-icon>
                                <span>Zu Figur hinzufügen</span>
                            </button>
                            <button class="button is-danger" title="Löschen" @click="deleteSongs">
                                <b-icon icon="delete"></b-icon>
                            </button>
                        </template>
                        <template v-else>
                            <button class="button is-success" @click="showUpload">
                                <b-icon icon="upload"></b-icon>
                                <span>Musik hochladen</span>
                            </button>
                        </template>
                    </div>
                </div>
            </div>
        </nav>

        <song-list ref="list" :isLoading="isLoading" :songs="songs" :selected.sync="selected"></song-list>
    </page>
</template>

<script>
import axios from "axios";
import Page from "@/components/Page";
import SongList from "@/components/SongList";
import AddToCardModal from "@/components/AddToCardModal";
import UploadModal from "@/components/UploadModal";

export default {
    components: {
        page: Page,
        "song-list": SongList,
    },
    data() {
        return {
            isLoading: false,
            songs: [],
            selected: [],
        };
    },
    computed: {
        hasSelection() {
            return this.selected.length > 0;
        },
    },
    methods: {
        async load() {
            this.stopPlayback();

            this.isLoading = true;

            const res = await axios.get("/api/songs");

            this.songs = res.data;
            this.selected = [];
            this.isLoading = false;
        },
        deleteSongs() {
            const count = this.selected.length;

            this.$dialog.confirm({
                message:
                    count === 1
                        ? "Willst du wirklich den markierten Titel löschen?"
                        : `Willst du wirklich die ${count} markierten Titel löschen?`,
                onConfirm: async () => {
                    try {
                        await axios.delete("/api/songs", {
                            data: this.selected,
                        });

                        this.load();

                        this.$toast.open({
                            type: "is-success",
                            message: "Die Titel wurden erfolgreich gelöscht",
                        });
                    } catch (err) {
                        this.$toast.open({
                            type: "is-danger",
                            message: "Fehler beim Löschen der Titel",
                        });
                    }
                },
            });
        },
        addToCard() {
            this.$modal.open({
                parent: this,
                component: AddToCardModal,
                props: {
                    songs: this.selected,
                },
                hasModalCard: true,
            });
        },
        showUpload() {
            this.$modal.open({
                parent: this,
                component: UploadModal,
                events: {
                    uploaded: this.load,
                },
                hasModalCard: true,
            });
        },
        stopPlayback() {
            this.$refs.list.stopPlayback();
        },
    },
    mounted() {
        this.load();
    },
    beforeDestroy() {
        this.stopPlayback();
    },
};
</script>
