<template>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor is-vertical">
                    <div class="tile is-child" v-if="card">
                        <p class="is-size-6 has-text-weight-bold">Aktuelle Figur:</p>
                        <router-link :to="{ name: 'card', params: { cardId: card.uid } }" class="is-size-3">
                            <b-icon icon="rocket" size="is-medium"></b-icon>
                            {{ card.name }}
                        </router-link>
                    </div>

                    <div class="box tile is-parent" v-if="song">
                        <figure class="tile is-child is-2 image cover-image" v-if="hasCover">
                            <img :src="coverUrl">
                        </figure>
                        <div class="tile is-child has-text-centered has-text-left-tablet">
                            <p class="title is-4">{{ song.title }}</p>
                            <p class="subtitle is-6">{{ song.artist }}</p>
                            <progress class="progress is-small" :value="progress" max="100">{{ progress }}%</progress>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <b-icon :icon="isPlaying ? 'play-circle-outline' : 'pause-circle-outline'"></b-icon>
                                    </div>
                                    <div class="level-item title is-6">
                                        {{ time | duration(false) }} - {{ song.duration | duration(false) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            card: null,
            song: null,
            time: 0,
            isPlaying: false,
        };
    },
    computed: {
        hasCover() {
            return this.song && this.song.has_cover;
        },
        coverUrl() {
            return `/api/songs/${this.song.id}/cover`;
        },
        progress() {
            return this.time * 100.0 / this.song.duration;
        },
    },
    methods: {
        async load() {
            try {
                const res = await axios.get("/api/status");
                const status = res.data;

                this.card = status.card;
                this.song = status.song;
                this.time = status.time;
                this.isPlaying = status.is_playing;
            } finally {
                this.timeoutId = setTimeout(this.load, this.isPlaying ? 1000 : 5000);
            }
        },
    },
    mounted() {
        this.load();
    },
    beforeDestroy() {
        if (this.timeoutId) {
            clearTimeout(this.timeoutId);
        }
    },
};
</script>

<style lang="scss">
.cover-image {
    padding-right: 0.75rem;

    @media (max-width: 768px) {
        padding-right: 0;
        padding-bottom: 1.5rem;

        img {
            width: 400px;
            margin: 0 auto;
        }
    }
}
</style>
