<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Musik hochladen…</p>
            <button class="delete" type="button" aria-label="Schließen" @click="$parent.close()"></button>
        </header>
        <section class="modal-card-body">
            <b-tabs v-model="activeTab">
                <b-tab-item label="Datei" icon="file">
                    <b-upload v-model="files" multiple drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <b-icon icon="upload" size="is-large"></b-icon>
                                </p>
                                <p>Zum hochladen Dateien hier reinziehen oder klicken</p>
                            </div>
                        </section>
                    </b-upload>
                    <div v-if="files.length" class="files tags">
                        <span v-for="(file, index) in files" :key="index" class="tag is-primary" >
                            {{ file.name }}
                            <button class="delete is-small" type="button" @click="removeFile(index)"></button>
                        </span>
                    </div>
                </b-tab-item>
                <b-tab-item label="Youtube-Link" icon="youtube">
                    <b-input v-model="url" type="textarea" size="is-medium" placeholder="Füge hier die URL zu einem Youtube Video oder einer Playlist ein."></b-input>
                </b-tab-item>
            </b-tabs>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" :class="{ 'is-loading': isUploading }" :disabled="!canSubmit" @click="submit">Hochladen</button>
            <button class="button" type="button" @click="$parent.close()">Abbrechen</button>
        </footer>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            isUploading: false,
            activeTab: 0,
            files: [],
            url: "",
        };
    },
    computed: {
        canSubmit() {
            return (this.activeTab === 0 ? this.files : this.url).length > 0;
        },
    },
    methods: {
        removeFile(index) {
            this.files.splice(index, 1);
        },
        async submit() {
            if (this.isUploading) {
                return;
            }

            const data = new FormData();

            if (this.activeTab === 0) {
                this.files.forEach(file => data.append("file[]", file));
            } else {
                data.append("url", this.url);
            }

            try {
                this.isUploading = true;

                const res = await axios.post("/api/songs", data);
                const songs = res.data;

                this.$toast.open({
                    type: "is-success",
                    message:
                        songs.length === 1
                            ? "Es wurde ein neuer Musiktitel erstellt"
                            : `Es wurden ${songs.length} neue Musiktitel erstellt`,
                });

                this.$parent.close();
                this.$emit("uploaded", songs.map(song => song.id));
            } catch (err) {
                this.isUploading = false;

                this.$toast.open({
                    type: "is-danger",
                    message: "Fehler beim Erstellen der Musiktitel",
                });
            }
        },
    },
};
</script>

<style lang="scss" scoped>
.b-tabs {
    margin: -20px;
}

.files {
    margin-top: 20px;
}

.upload /deep/ .upload-draggable {
    display: block;
}
</style>
